#skillSection{
    width: 100vw;
}

.dark-bg {
    background-color: #212120;
    width: 100%;
}

.heading-color{
    color: #e3b5ff;
}

.underline::after{
    position: relative;
    content: "";
    display: block;
    top: 3px;
    height: 2px;
    background-color: #ffffff;
}

#skills::after{
    width: 100%;
}

.img-fluid>*{
    max-height: 150px;
} 

.spacing{
    margin-top: 5rem;
}

#upperEdge{
    position: relative;
    top: 0px;
    width: 100vw;
}

@media only screen and (min-width: 1200px) {
    #skillSection p {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 592px) {
    #lowerEdge{
        position: relative;
        width: 100%;
        bottom: 3px;
    }

    .techIcons{
        max-width: 80px;
    }

    .otherIcons{
        max-width: 8rem;
    }

    .w-sm-50{
        width: 50%;
    }

    #skillSection p {
        font-size: 1.2rem;
    }
  }