.dark-bg {
    background-color: #212120;
    width: 100%;
}

.heading-color{
    color: #e3b5ff;
}

.underline::after{
    content: "";
    display: block;
    height: 1px;
    background-color: #ffffff;
}

#skills::after{
    width: 120px;
}

.img-fluid>*{
    max-height: 150px;
} 

.spacing{
    margin-top: 5rem;
}