.title::after{
    position: relative;
    content: "";
    width: 100%;
    top: 3px;
    height: 2px;
    background-color: blueviolet;
    display: block;
    margin-left: auto;
    margin-right: auto;
}